@model GCD0705.AppDev.Models.Task
@{ ViewBag.Title = "Edit"; }

<h2>Edit this Task</h2>

@using (Html.BeginForm("Edit", "Tasks", "POST"))
{
<div class="form-group">
	@Html.HiddenFor(model => model.Id)
	@Html.LabelFor(model => model.Name)
	@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
	@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
	</div>
<div class="form-group">

	@Html.LabelFor(model => model.Description)
	@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
	@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
	</div>
<div class="form-group">

	@Html.LabelFor(model => model.DueDate)
	@Html.TextBoxFor(model => model.DueDate,
										new { @class = "form-control", @type = "date", @Value = Model.DueDate.ToString("yyyy-MM-dd") })
	@Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
	</div>
<div class="form-group">

	<button type="submit" class="btn btn-primary">Edit this Task</button>
</div>}
