@model IEnumerable<GCD0705.AppDev.Models.Task>
@{
	ViewBag.Title = "Index";
}

<h2>Index Task</h2>

@Html.ActionLink("Create new Task", "Create", "Tasks",
	null, 
	new { @class = "btn btn-primary" })

<form>
	<label for="fname">Search by Task Name:</label><br>
	<input type="text" id="fname" name="fname"><br>
	<button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Task #</th>
			<th>Task Name</th>
			<th>Task Due Date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.DueDate.ToString()</td>
				<td>
					@Html.ActionLink("Details", "Details", "Tasks", 
								 new { id = item.Id }, 
								 new { @class = "btn btn-primary" })
					@Html.ActionLink("Edit this task", "Edit", "Tasks",
								 new { id = item.Id },
								 new {@class = "btn btn-default"})
					@Html.ActionLink("Delete this Task", "Delete","Tasks", 
								 new { id = item.Id}, 
								 new { @class = "btn btn-danger"})
				</td>
			</tr>
		}
	</tbody>
</table>